@use '../utils/variables' as variables;
@use '../utils/mixins' as mixins;

.card{
    background-color: variables.$seasalt;
    margin: 20px;
    max-width: 200px;
    min-width: 200px;
    min-height: 50px;
    border-radius: 20px;
    @include mixins.shadow(variables.$light-blue);

    h4{
        color:variables.$black;
    }
}