@use "../utils/variables" as variables;

.nav-bar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 70vw;
  padding-left: 0;
  flex-wrap: wrap;

  & > ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: variables.$seasalt;
    border-radius: 5px;
    padding: 10px;
  }

  & > li {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
  }
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: -22px;
}

.hamburger-menu div {
  width: 25px;
  height: 3px;
  background-color: variables.$black;
  margin: 4px 0;
}

@media (max-width: 726px) {
  .nav-bar ul {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: variables.$seasalt;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
  }

  .nav-bar.active ul {
    display: flex;
  }

  .nav-bar {
    position: relative;
  }

  .hamburger-menu {
    display: flex;
  }

  .header-day, .header-night {
    flex-direction: row;
    justify-content: space-between;
  }
}

a {
  color: variables.$black;
}

.link-day {
  color: variables.$black;
}

.link-night {
  color: variables.$seasalt;
}
